-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "JamStatus" AS ENUM ('draft', 'published', 'archived');

-- CreateEnum
CREATE TYPE "SessionStatus" AS ENUM ('planned', 'active', 'completed', 'cancelled');

-- CreateEnum
CREATE TYPE "ParticipantStatus" AS ENUM ('active', 'stuck', 'needs_help', 'completed', 'offline');

-- CreateEnum
CREATE TYPE "StepProgressStatus" AS ENUM ('locked', 'active', 'completed');

-- CreateEnum
CREATE TYPE "HintType" AS ENUM ('text', 'image', 'video');

-- CreateEnum
CREATE TYPE "MediaAssetType" AS ENUM ('image', 'video', 'file');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "displayName" TEXT NOT NULL,
    "role" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "jams" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "short_description" TEXT NOT NULL,
    "full_description" TEXT NOT NULL,
    "theme_code" TEXT NOT NULL,
    "level" TEXT NOT NULL,
    "estimated_duration_min" INTEGER NOT NULL,
    "cover_image_url" TEXT,
    "preview_video_url" TEXT,
    "accent_style" TEXT NOT NULL,
    "accent_color" TEXT NOT NULL,
    "final_title" TEXT NOT NULL,
    "final_description" TEXT NOT NULL,
    "final_reward_xp" INTEGER NOT NULL,
    "status" "JamStatus" NOT NULL DEFAULT 'draft',
    "published_at" TIMESTAMP(3),
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,
    "created_by" TEXT NOT NULL,
    "updated_by" TEXT NOT NULL,

    CONSTRAINT "jams_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "jam_steps" (
    "id" TEXT NOT NULL,
    "jam_id" TEXT NOT NULL,
    "order_index" INTEGER NOT NULL,
    "title" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "goal_text" TEXT NOT NULL,
    "result_video_url" TEXT,
    "result_image_url" TEXT,
    "success_title" TEXT NOT NULL,
    "success_text" TEXT NOT NULL,
    "success_xp" INTEGER NOT NULL,
    "is_active" BOOLEAN NOT NULL DEFAULT true,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "jam_steps_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "step_hints" (
    "id" TEXT NOT NULL,
    "step_id" TEXT NOT NULL,
    "level" INTEGER NOT NULL,
    "text" TEXT NOT NULL,
    "hint_type" "HintType" NOT NULL,
    "media_url" TEXT,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updated_at" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "step_hints_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "jam_versions" (
    "id" TEXT NOT NULL,
    "jam_id" TEXT NOT NULL,
    "version_number" INTEGER NOT NULL,
    "snapshot_json" JSONB NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "created_by" TEXT NOT NULL,
    "is_published_version" BOOLEAN NOT NULL DEFAULT true,

    CONSTRAINT "jam_versions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "sessions" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "join_code" TEXT NOT NULL,
    "join_url" TEXT NOT NULL,
    "status" "SessionStatus" NOT NULL DEFAULT 'planned',
    "started_at" TIMESTAMP(3),
    "ended_at" TIMESTAMP(3),
    "created_by" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "sessions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "session_jams" (
    "id" TEXT NOT NULL,
    "session_id" TEXT NOT NULL,
    "jam_version_id" TEXT NOT NULL,
    "is_default" BOOLEAN NOT NULL DEFAULT false,
    "order_index" INTEGER NOT NULL,

    CONSTRAINT "session_jams_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "participants" (
    "id" TEXT NOT NULL,
    "session_id" TEXT NOT NULL,
    "display_name" TEXT NOT NULL,
    "avatar" TEXT NOT NULL,
    "status" "ParticipantStatus" NOT NULL DEFAULT 'active',
    "joined_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "last_seen_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "participants_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "participant_progress" (
    "id" TEXT NOT NULL,
    "participant_id" TEXT NOT NULL,
    "jam_version_id" TEXT NOT NULL,
    "current_step_id" TEXT NOT NULL,
    "completed_steps_count" INTEGER NOT NULL DEFAULT 0,
    "total_steps_count" INTEGER NOT NULL,
    "xp_total" INTEGER NOT NULL DEFAULT 0,
    "is_completed" BOOLEAN NOT NULL DEFAULT false,
    "started_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "completed_at" TIMESTAMP(3),

    CONSTRAINT "participant_progress_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "participant_step_progress" (
    "id" TEXT NOT NULL,
    "participant_id" TEXT NOT NULL,
    "jam_version_id" TEXT NOT NULL,
    "step_id" TEXT NOT NULL,
    "status" "StepProgressStatus" NOT NULL DEFAULT 'locked',
    "started_at" TIMESTAMP(3),
    "completed_at" TIMESTAMP(3),
    "hints_opened_count" INTEGER NOT NULL DEFAULT 0,
    "last_hint_level_opened" INTEGER NOT NULL DEFAULT 0,
    "needs_help_flag" BOOLEAN NOT NULL DEFAULT false,
    "needs_help_at" TIMESTAMP(3),
    "help_resolved_at" TIMESTAMP(3),

    CONSTRAINT "participant_step_progress_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "media_assets" (
    "id" TEXT NOT NULL,
    "type" "MediaAssetType" NOT NULL,
    "url" TEXT NOT NULL,
    "filename" TEXT NOT NULL,
    "mime_type" TEXT NOT NULL,
    "size_bytes" INTEGER NOT NULL,
    "uploaded_by" TEXT NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "media_assets_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "jams_slug_key" ON "jams"("slug");

-- CreateIndex
CREATE INDEX "jam_steps_jam_id_order_index_idx" ON "jam_steps"("jam_id", "order_index");

-- CreateIndex
CREATE UNIQUE INDEX "step_hints_step_id_level_key" ON "step_hints"("step_id", "level");

-- CreateIndex
CREATE UNIQUE INDEX "jam_versions_jam_id_version_number_key" ON "jam_versions"("jam_id", "version_number");

-- CreateIndex
CREATE UNIQUE INDEX "sessions_join_code_key" ON "sessions"("join_code");

-- CreateIndex
CREATE INDEX "session_jams_session_id_order_index_idx" ON "session_jams"("session_id", "order_index");

-- CreateIndex
CREATE UNIQUE INDEX "session_jams_session_id_jam_version_id_key" ON "session_jams"("session_id", "jam_version_id");

-- CreateIndex
CREATE UNIQUE INDEX "participant_progress_participant_id_jam_version_id_key" ON "participant_progress"("participant_id", "jam_version_id");

-- CreateIndex
CREATE UNIQUE INDEX "participant_step_progress_participant_id_jam_version_id_ste_key" ON "participant_step_progress"("participant_id", "jam_version_id", "step_id");

-- AddForeignKey
ALTER TABLE "jams" ADD CONSTRAINT "jams_created_by_fkey" FOREIGN KEY ("created_by") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "jams" ADD CONSTRAINT "jams_updated_by_fkey" FOREIGN KEY ("updated_by") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "jam_steps" ADD CONSTRAINT "jam_steps_jam_id_fkey" FOREIGN KEY ("jam_id") REFERENCES "jams"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "step_hints" ADD CONSTRAINT "step_hints_step_id_fkey" FOREIGN KEY ("step_id") REFERENCES "jam_steps"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "jam_versions" ADD CONSTRAINT "jam_versions_jam_id_fkey" FOREIGN KEY ("jam_id") REFERENCES "jams"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "session_jams" ADD CONSTRAINT "session_jams_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "sessions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "session_jams" ADD CONSTRAINT "session_jams_jam_version_id_fkey" FOREIGN KEY ("jam_version_id") REFERENCES "jam_versions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "participants" ADD CONSTRAINT "participants_session_id_fkey" FOREIGN KEY ("session_id") REFERENCES "sessions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "participant_progress" ADD CONSTRAINT "participant_progress_participant_id_fkey" FOREIGN KEY ("participant_id") REFERENCES "participants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "participant_progress" ADD CONSTRAINT "participant_progress_jam_version_id_fkey" FOREIGN KEY ("jam_version_id") REFERENCES "jam_versions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "participant_step_progress" ADD CONSTRAINT "participant_step_progress_participant_id_fkey" FOREIGN KEY ("participant_id") REFERENCES "participants"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "participant_step_progress" ADD CONSTRAINT "participant_step_progress_jam_version_id_fkey" FOREIGN KEY ("jam_version_id") REFERENCES "jam_versions"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

